*{
  margin: 0;
  padding: 0;
}
.navbar{
  background: linear-gradient(90deg,#672280 1.18%,#A626D3 100%);
  display: flex;
  position: relative;
}
.logo{
  width: 60px;
  padding: 10px 20px;
}
.heading{
  color: white;
  padding-top: 15px;
  font-family: monospace;
}
.txt{
  position: absolute;
  right: 100px;
  color: white;
  padding-top: 20px;
  font-size: 20px;
  
}
.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  gap: 50px;
  border: 1px;
  border-radius: 10px;
  
}
input{
  padding-left: 10px;
  font-size: 25px;
  height: 40px;
  width: 31%;
  border-radius: 5px;
}
.btn{
  display: flex;
  justify-content: center;
}
.btn1{
  height: 50px;
  width: 69%;
  font-size: 30px;
  font-family: monospace;
  color: white;
  background: linear-gradient(90deg,#672280 1.18%,#A626D3 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.meme-image{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meme-img{
  width: 500px;
  height: 300px;

}
